
{% from "_formhelpers.html" import render_field%}

<div class="container py-3 ">
    {%with messages = get_flashed_messages()%}
    {% if messages%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        
            <strong>An error has occurend in the form</strong> 
        </div>
    {%endif%}

    <form method="POST" action="{{url_for("admin.add_clinics")}}">

        {{form.csrf_token}}

        {{render_field(form.clinic_name, class= "form-control mb-3")}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {%endwith%}
</div>



