{% extends "admin/base.html" %}
{%from "components/dashboard_sidebar.html" import render_sidebar%}
{%block title %} Manage Users {%endblock title %}

{%block body %}
<div class="row ">
    <div class="col-sm-3 d-none d-lg-block">
        {{render_sidebar("users",current_user)}}
    </div>
    <div class="col-sm-9 py-3">
        <div class="mb-4">
            <h3>Manage Users</h3>
        </div>
        <div class="col-sm-3 mb-3">
            <form action="" method="get" >
                <input type="search" name="" id="" class="form-control col-sm-3" placeholder="Search user with email">
            </form>
        </div>
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col"><i class="fa fa-user" aria-hidden="true"></i> Username</th>
                        <th scope="col"><i class="fa fa-envelope" aria-hidden="true"></i> Email</th>
                        <th scope="col">Date Joined</th>
                        <th scope="col">Actions</th>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal"><i class="fa fa-plus" aria-hidden="true"></i> New User</button>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr class="">
                        <td scope="row">{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.confirmed_at}}</td>
                    </tr>
                    {%endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--User form modal-->
<div class="modal" tabindex="-1" id="userModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register new user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" class="form">
                    <label for="clinicName" class="form-label">
                        Username
                    </label>
                    <input type="text" name="clinic_name" id="clinicName" class="form-control">

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{%endblock body%}