<div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center">
                <small class="py-2"><i class="far fa-clock text-primary me-2"></i>Opening Hours: Mon - Tues : 6.00 am -
                    10.00 pm, Sunday Closed </small>
            </div>
        </div>
        <div class="col-md-6 text-center text-lg-end">
            <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                <div class="me-3 pe-3 border-end py-2">
                    <p class="m-0"><i class="fa fa-envelope-open me-2"></i>info@example.com</p>
                </div>
                <div class="py-2">
                    <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Navbar-->
{%if current_user.is_authenticated %}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
    <a href="{{ url_for('blueprint.index') }}" class="navbar-brand p-0">
        <h1 class="m-0 text-primary"><i class="fa fa-heartbeat me-2"></i>Health Services</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="{{ url_for('blueprint.index') }}" class="nav-item nav-link active">Home</a>
            <a href="{{ url_for('blueprint.about_page') }}" class="nav-item nav-link active">About</a>
            <a href="{{ url_for('blueprint.service_page') }}" class="nav-item nav-link active ">Service</a>

            <a href="{{ url_for('blueprint.contact_us_page') }}" class="nav-item nav-link active">Contact</a>
        </div>

        <a href="{{ url_for ('blueprint.appointment')}}" class="btn btn-primary py-2 px-4 ms-3"> Make an Appointment</a>
        <a href="{{ url_for ('security.logout')}}" class="btn btn-primary py-2 px-4 ms-3">Logout</a>
    </div>
</nav>
{% else%}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
    <a href="{{ url_for('blueprint.index') }}" class="navbar-brand p-0">
        <h1 class="m-0 text-primary"><i class="fa fa-heartbeat me-2"></i>Health Services</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="{{ url_for('blueprint.index') }}" class="nav-item nav-link active">Home</a>
            <a href="{{ url_for('blueprint.about_page') }}" class="nav-item nav-link active">About</a>
            <a href="{{ url_for('blueprint.service_page') }}" class="nav-item nav-link active ">Service</a>

            <a href="{{ url_for('blueprint.contact_us_page') }}" class="nav-item nav-link active">Contact</a>
        </div>

        <a href="{{ url_for ('blueprint.appointment')}}" class="btn btn-primary py-2 px-4 ms-3"> Make an Appointment</a>
    
    </div>
</nav>
 {% endif %}
<!--EndNavBar-->
<div>

    <div>